# Byte-compiled / optimized / DLL files
__pycache__/

# pytest cache
.pytest_cache

# Environments
.env
venv

# Playground
playground.py

# vscode
.vscode

# TOML
pyproject.toml

# service account file
skip-push-notification_fsa.json
